.bottom_bar {
    width: 100vw;    height: 5vh;
    background-color: rgb(53, 48, 48);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.main_container {
    height: 20vh;
    width: 30vw;

    background-color: red;
}

@media (max-width: 640px) {
}