.bottom_bar {
    width: 100vw; 
    height: 21vh;
    display: flex;
    position: absolute;
    bottom: 0;
}

.main__container {  
    position: absolute;
    bottom: 0;
    overflow: visible;
    height: 10rem;
    display: flex;
    background-color: #494949;
    justify-content: right;
}

.character__title {
    height: 2rem;
    padding: 4px;
    text-align: center;
    background-color: #D9D9D9;
    color: #030303;
}

.character__display__container {
    height: 20vw;
    width: 9.5vw;
}

.character__display__image{
    position: absolute;
    top: -130px;
    height: 30vh;
}

.character__display__name {
    height: 1.7vw;
    width: 9.5vw;
    background-color: #3C3C3C;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    text-align: center;
    bottom: 0;
}

.character_red_hp {
    height: 1.5rem;
    z-index: 1;
    background-color: red;
}

.character_green_hp {
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: #23CC64;
}

.character__ui {
    width: 19vw;
}

.character_hp_points {
    padding-left: 4px;
    z-index: 3;
    color: white;
    font-size: 1.2rem;
}

.character__mana__empty {
    height: 1.5rem;
    background-color: #6D777C;
}

.character__mana__value {
    width: 100%;
    height: 100%;
    background-color: #2394CC;
}

.character__mana__points {
    padding-left: 4px;
    color: white;
    font-size: 1.2rem;
}

.character__options {
    background-color: #504e4e;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 5px;
}

.character__options button {
    background-color: #9244F1;
    color: white;
    font-size: 26px;
    width: 100%;
    height: 2.9rem;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.character__options button:hover {
    transform: scale(1.04);
    background-color: #7c16f8;
}

.main__container__cards {
    transition: 0.8s;
    background-color: #313131;
    display: none;
    justify-content: center;
    align-items: center;
    width: 26vw;
}

#container-cards-icon {
    transition: 1s;
}

.main__container__cards .card_container:hover .card_display img {
    display: block;
}

.main__container__cards .card_container:hover {
    transform: translateY(-5rem);
}

.ui__button__container {
    width: 2vw;
}

.main__container__cards__close__button {
    background-color: #424242;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
}

.main__container__cards .card_title {
    display: none;
}

.main__container__cards .card_green_hp {
    background-color: #D9D9D9;
}

.main__container__cards .card_hp_points {
    color: #e6e6e6;
}


@media (max-width: 640px) {
}