/* Neiser */

.Neiser__base__form {
    width: 6rem;
}

.Neiser__first__form {
    width: 7.5rem;
}

.Neiser__second__form {
    width: 30rem;
}


/* Ash_Core */

.Ash_Core__base__form {
    width: 8rem;
}

.Ash_Core__first__form {
    width: 17rem;
}

.Ash_Core__second__form {
    width: 32rem;
}


/* Itrenok */

.Itrenok__base__form {
    width: 15rem;
}

.Itrenok__first__form {
    width: 11rem;
}

.Itrenok__second__form {
    width: 28rem;
}


/* Numak */

.Numak__base__form {
    width: 6rem;
}

.Numak__first__form {
    width: 9rem;
}

.Numak__second__form {
    width: 15rem;
}


@media (min-width: 769px) and (max-width: 1024px) {
    .Neiser__base__form {
        width: 4rem;
    }    
}
